<div class="news-card">
	<div class="news-card__img-wrapper">
		<img src="img/{{newsCardImg}}" alt="{{newsCardImgAlt}}" class="news-card__img">
	</div>
	<div class="news-card__text-wrapper">
		<div class="news-card__date">{{newsCardDate}}</div>
		<div class="news-card__title">{{newsCardTitle}}</div>
		<div class="news-card__text">{{newsCardText}}</div>
	</div>
	<div class="news-card__button-wrapper">
		<a href="#" class="news-card__button">Читать</a>
	</div>
</div>